.main-body {  
  color: #111111;
  background-color: #ffffff;
  font-family: 'Open Sans',sans-serif;
  font-size: 1.25rem;
  line-height: 1.6;
}

body {
  position: relative;
  height: auto;
  min-height: 100%;
  margin: 0;
}

.sheet{
  min-height: 817px;
  width: 1140px;
  margin: 0px auto;
  position: relative;
}

.first-line{
  justify-content: center;
  display: flex;
  flex-direction: column;   
}

.text{
  word-wrap: break-word;
  position: relative;
}
.text-1{
  text-align: center;
  font-weight: 400;
  font-size: 3.25rem;
  line-height: 1.1;
  font-family: 'Roboto, sans-serif';
  width: 525px;
  margin: 30px auto 0;
  flex-shrink: 0;
  padding: 0;
}
.text-2{
  text-align: center;
  width: 525px;
  margin: 11px auto 0;
  font-size: 1.4rem;
  flex-shrink: 0;
  padding: 0;
}
.layout{  
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100% !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  display: block;  
}
.layout-table{
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100%;
  max-width: 100%;
  flex: 1 1 100%;
  display: flex;
  box-sizing: border-box;  
}
.container-style{
  text-align: left;
}
.layout-table > .size-20 {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.layout-cell{
  opacity: 1;
  position: relative;
  display: flex;
  background-clip: padding-box;
  background-origin: padding-box;
}
.container-layout{
  padding: 30px;
  position: relative;
  flex: 1;
  max-width: 100%;  
}
.text-3{
  margin: 0;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.2;
  font-family: 'Roboto, sans-serif';
}
.text-default{
  display: table;
  align-self: flex-start;
}
.text-4{
  margin-left: 0;
  font-size: 24;
  line-height: 2;
  margin-top: 20px;
  margin-bottom: 0;
}
.middle{
  min-height: 400px;
  padding: 30px;
  justify-content: center;
  display: flex;
  flex-direction: column;  
}
.circle{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius:100% !important;
  overflow: hidden;
  color: #111111;
  position: relative;
  object-fit: cover;
  display: block;  
  background-size: cover;   
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-style: none;  
}
.text-6{
  margin: auto;
}
.text-7{
  line-height: 2.6;
  font-size: 1.25rem;
}
.social-icons{
  white-space: nowrap;
  height: 24px;
  min-height: 16px;
  width: 91px;
  min-width: 68px;
  margin: 30px auto 0 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
}